{% extends 'base.html' %}
{% block content %}
<div class="container content">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3>
        I am Mohammad Mohsin Ul Haq, currently pursuing B.Tech Computer Science at NIT Srinagar.
        Web programming is my stronghold. I am doing my internship at Nearfox. Add me on:
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 text-right">
      <img src="https://cdn3.iconfinder.com/data/icons/happily-colored-snlogo/128/linkedIN.png" style="width:35px;" alt="linkedin">
    </div>
    <div class="col-xs-6">
      <h4>
      <a href="https://in.linkedin.com/in/mohsinulhaq">LinkedIn</a>
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 text-right">
      <img src="https://cdn3.iconfinder.com/data/icons/happily-colored-snlogo/128/facebook.png" style="width:35px;" alt="facebook">
    </div>
    <div class="col-xs-6">
      <h4>
      <a href="https://facebook.com/mohsinulhaq">Facebook</a>
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 text-right">
      <img src="https://cdn3.iconfinder.com/data/icons/happily-colored-snlogo/128/twitter.png" style="width:35px;" alt="twitter">
    </div>
    <div class="col-xs-6">
      <h4>
      <a href="https://twitter.com/mohsinulhaq">Twitter</a>
      </h4>
    </div>
  </div>
</div>
{% endblock %}
