{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container content">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3>
        I am Mohammad Mohsin Ul Haq, currently pursuing B.Tech Computer Science at NIT Srinagar. I love Web Development. Add me on:
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 text-right">
      <img src="{% static 'images/linkedin.png' %}" style="width:35px;" alt="linkedin">
    </div>
    <div class="col-xs-6">
      <h4>
      <a href="https://in.linkedin.com/in/mohsinulhaq">LinkedIn</a>
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 text-right">
      <img src="{% static 'images/facebook.png' %}" style="width:35px;" alt="facebook">
    </div>
    <div class="col-xs-6">
      <h4>
      <a href="https://facebook.com/mohsinulhaq">Facebook</a>
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 text-right">
      <img src="{% static 'images/twitter.png' %}" style="width:35px;" alt="twitter">
    </div>
    <div class="col-xs-6">
      <h4>
      <a href="https://twitter.com/mohsinulhaq">Twitter</a>
      </h4>
    </div>
  </div>
</div>
{% endblock %}
