{% extends 'base.html' %}
{% block content %}
<div class="container content">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-3 col-xs-12 form-group box">
        <a href="javascript:void(0)">
          <span class="placeholder">Enter string</span>
          <span class="glyphicon glyphicon-chevron-down arrow"></span>
        </a>
        <div class="list">
          <div>
            <input type="text" class="form-control autocomplete search" autofocus>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
