{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <link rel="icon" href="{% static 'images/favicon.ico' %}">
  <link rel="stylesheet" href="http://bootswatch.com/united/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% for style in styles %}
    <link rel="stylesheet" href="{% static 'css/'|add:style %}">
  {% endfor %}
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index' %}">{{ title }}</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Works <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'autocomplete' %}">Autocomplete</a></li>
              <li><a href="{% url 'radio' %}">Custom Radio Button</a></li>
              <li><a href="{% url 'regex' %}">Regex Validation</a></li>
              <li><a href="{% url 'facebook' %}">Facebook</a></li>
              <li><a href="{% url 'pagination' %}">Pagination</a></li>
            </ul>
          </li>
          <li><a href="{% url 'about' %}">About Me</a></li>
        </ul>
      </div>
    </div>
  </nav>
  {% block content %}{% endblock %}
  <nav class="navbar navbar-inverse navbar-fixed-bottom footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6">
          &copy; 2016 Mohsin Ul Haq. All rights reserved
        </div>
        <div class="col-xs-6 text-right">
          <a href="https://in.linkedin.com/in/mohsinulhaq"><img src="http://static.viewbook.com/images/social_icons/linkedin_32.png"></a>
          <a href="https://facebook.com/mohsinulhaq"><img src="http://static.viewbook.com/images/social_icons/facebook_32.png"></a>
          <a href="https://twitter.com/mohsinulhaq"><img src="http://static.viewbook.com/images/social_icons/twitter_32.png"></a>
        </div>
      </div>
    </div>
  </nav>
  <script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="{% static 'js/script.js' %}"></script>
  {% for script in scripts %}
    <script src="{% static 'js/'|add:script %}"></script>
  {% endfor %}
</body>

</html>
