{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container content">
  <div class="row">
    <div class="col-md-6">
      <img class="profile-pic">
    </div>
    <div class="col-md-6">
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>Name</td>
            <td class="myname"></td>
          </tr>
          <tr>
            <td>Email</td>
            <td class="email"></td>
          </tr>
          <tr>
            <td>Birthday</td>
            <td class="birthday"></td>
          </tr>
          <tr>
            <td>Facebook ID</td>
            <td class="id"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-12">
      <span>
        <button class="btn btn-success top">Top 10</button>
        <button class="btn btn-success bottom">Bottom 5</button>
        <button class="btn btn-success special">Special 1</button>
        <button class="btn btn-success all">All</button>
      </span>
    </div>
  </div>
  <hr>
  <div class="row text-center row1">
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12"><img class="photo"></div>
        <div class="col-md-12 name"></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12"><img class="photo"></div>
        <div class="col-md-12 name"></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12"><img class="photo"></div>
        <div class="col-md-12 name"></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12"><img class="photo"></div>
        <div class="col-md-12 name"></div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row text-center row2">
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12"><img class="photo"></div>
        <div class="col-md-12 name"></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12"><img class="photo"></div>
        <div class="col-md-12 name"></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12"><img class="photo"></div>
        <div class="col-md-12 name"></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12"><img class="photo"></div>
        <div class="col-md-12 name"></div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row text-center row3">
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12"><img class="photo"></div>
        <div class="col-md-12 name"></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12"><img class="photo"></div>
        <div class="col-md-12 name"></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12"><img class="photo"></div>
        <div class="col-md-12 name"></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12"><img class="photo"></div>
        <div class="col-md-12 name"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/facebook.js' %}"></script>
    <script src="{% static 'js/fbsdksetup.js' %}"></script>
{% endblock %}
