{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container text-center content">
  <div class="row">
    <div class="col-md-12">
      <img class="cat" width="315px" height="300px" src="{% static 'images/inspectocat.webp' %}" alt="inspectocat">
    </div>
    <h3>Github Search</h3>
    <div class="col-md-12">
      <form class="form form-inline">
        <div class="input-group">
          <input type="text" class="search-box form-control" autofocus>
          <span class="input-group-btn">
            <button class="btn btn-success" type="submit">
            <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </form>
    </div>
  </div>
  <div class="modal fade result" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-12">
              <div class="col-md-3 col-xs-12" style="float:left;"><img class="image"></div>
              <div class="col-md-9 col-xs-12">
                <table class="table table-hover table-responsive" style="float:left;">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Profile Link</th>
                      <th>Github ID</th>
                      <th>Followers</th>
                      <th>Public Repositories</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="name"></td>
                      <td><a class="profile" href="" target="_blank"></a></td>
                      <td class="id"></td>
                      <td class="followers"></td>
                      <td class="repos"></td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container loading">
  <div class="row">
    <div class="col-xs-12 text-center">
      <i class="fa fa-spinner fa-pulse fa-4x"></i>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}
