{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container content">
  <div class="row">
    <div class="col-xs-12 text-center">
      <img src="{% static 'images/mohsin.webp' %}" width="20%" height="0%" alt="Mohsin Ul Haq">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 text-center">
      <h3>
        I am Mohammad Mohsin Ul Haq, currently pursuing B. Tech. Computer Science & Engineering from NIT Srinagar.
      </h3>
    </div>
  </div>
</div>
{% endblock %}
