{% extends 'base.html' %}
{% block content %}
<div class="container text-center content">
  <div class="row">
    <div class="col-md-12">
      <div>
        <label>
          <input type="radio" name="option">
          <span></span> Option 1
        </label>
      </div>
      <div>
        <label>
          <input type="radio" name="option">
          <span></span> Option 2
        </label>
      </div>
      <div>
        <label>
          <input type="radio" name="option">
          <span></span> Option 3
        </label>
      </div>
    </div>
  </div>
</div>
{% endblock %}
