{% extends 'base.html' %}
{% block content %}
<div class="container content">
  <div class="row">
    <div class="col-md-3 col-md-offset-4">
      <form role="form" class="validationForm">
        <div class="form-group">
          <input type="text" class="email form-control" placeholder="Email" autofocus>
          <input type="text" class="number form-control" placeholder="Phone Number">
          <input type="submit" value="Validate" class="btn btn-success form-control">
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
