.ui-helper-hidden-accessible {
    display: none;
}
.ui-autocomplete {
    max-height: 165px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.box {
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 1%;
}
.box > a {
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
}
.arrow {
    float: right;
}
.list {
    display: none;
}
.search {
    margin-top: 5%;
    border: 1px solid rgba(0, 0, 0, 0.4);
}
