.center {
    text-align: center;
}
label {
    font-size: 14px;
    color: #5a6974;
    display: inline-block;
    margin: 8px 16px 16px 0;
}
input[type=radio] {
    display: none;
}
label>span {
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
    margin: -3px 5px 0 0;
    width: 20px;
    height: 20px;
    padding: 4px;
    border-radius: 50%;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
input[type='radio']:checked+span {
    border-color: #2980b9;
}
input[type='radio']:checked+span::before {
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    background: #2980b9;
    border-radius: 50%;
}
